@{
    ViewBag.Title = "About";
}
<!-- Simple page with information about cafe-->
<div class="heading">
    <p>Our Mission</p>
    </div>

<p>To provide friendly and efficient service of a quality product, that suits both the busy worker who has to grab and go, and those afforded a little more time to sit down and relax.</p>

<p>Having served the Fern Hill Precinct for over 12 years, Café Momo has become a landmark in Bruce. With new owners since September 2012, everyone’s old favorite has been given a new feel that is sure to make all our guests feel warm and welcome.</p>

<p>With the great taste of Veneziano Coffee accompanying a diverse menu, there is sure to be something for everyone. Over 30 ready to go meals, sit alongside a thoughtfully created Breakfast and Lunch menu.</p>

<p>Whether you have a few hours to sit and catch up, or a meeting you are already late for, Café Momo has the range to make sure your taste and time pressures are met.</p>
