@{
    ViewBag.Title = "Contact";
}
<!-- contact details page-->
<div class="heading">
    <p>Contact details</p>
</div>

<p>Phone number: (02) 9964 6464</p>
<p>Email: request@cafeongo.com</p>
