@model DBSD.Services.User
@{
    ViewBag.Title = "WelcomeUser";
}
<!-- Greeting page after registration-->
<div class="heading">
    <p>Welcome @Model.FirstName</p>
    </div>
    <p>Now you can fully use the features of the website</p>
    <hr style="border-color: #e25d29" />
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Member's home page", "Index", "Members")
    </div>


